.body{
    background-image:url("images/dallas.jpg");
    padding-left: 20px;
    background-size: cover;
}


.topbox{
    display: flex;
    justify-content: space-around
}
.header{
    background-image: linear-gradient(rgb(211, 163, 104), rgb(238, 81, 112));
    display: flex;
    justify-content: space-around;
    height: 80px;
    padding-right: 100px;
    padding-left: 20px;
}


.img{
    border: 5px solid rgb(211, 163, 104);

    width: 300px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    margin-left: 300px;

}

.about{
    background-image: linear-gradient(rgb(211, 163, 104), rgb(238, 81, 112));
    display: inline-block;
    width: 610px;
    height: 375px;
    margin: 20px;
    margin-right: 150px;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}


.img2{
    height: 100px;
    width: 150px;
    margin-left: 200px;
}



.doublebox{
    display:flex;
    justify-content:space-evenly;
    vertical-align: top;
    padding-bottom: 20px;


    margin-top: 75px;
}

.box1{
    width: 400px;
    background-image:linear-gradient(rgb(238, 81, 112),rgb(211, 163, 104));
    margin-left: 150px;
    padding: 10px;

}

.icon{
    margin-left: 150px;
}



.box2{
    width: 400px;
    background-image:linear-gradient(rgb(211, 163, 104), rgb(238, 81, 112));

    padding: 10px;

}

.icon2{
    height: 75px;
    margin-left: 75px;
}